* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-button {
  border: 2px solid #d31820;
  background-color: #dc143c;
  color: white;
  font-weight: bolder;
  border-radius: 18px;
  padding: 7px;
  margin: 5px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d74f4f;
}
header .container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container-logo .logo {
  width: 200px;
  height: 70x;
  padding: 5px;
  border-radius: 20px;
}
header .container-nav {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
header .container-nav nav {
  max-width: 100%;
}
header .container-nav nav ul {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
header .container-nav nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container-nav nav ul li a {
  text-align: center;
  padding: 15px 15px;
  color: whitesmoke;
  font-size: 0.5rem;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d74f4f;
}
footer .footer-left {
  max-width: 100%;
}
footer .footer-left img {
  width: 200px;
  height: 100px;
  padding: 10px;
}
footer .footer-left p {
  font-weight: bold;
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
}
footer .footer-center {
  display: flex;
  flex-direction: column;
}
footer .footer-center p {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.5rem;
}
footer .footer-center ul {
  padding: 0;
}
footer .footer-center ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1rem;
}
footer .footer-right p {
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  font-size: 1.5rem;
}
footer .footer-right ul {
  padding: 0;
}
footer .footer-right ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1rem;
}
footer .footer-right ul li a .bi-facebook {
  color: blue;
}
footer .footer-right ul li a .bi-instagram {
  color: orange;
}
footer .footer-right ul li a .bi-youtube {
  color: red;
}

main .principal-desk .principal-bg {
  display: none;
}
main .principal-desk .principal-right {
  background-color: rgba(240, 128, 128, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
main .principal-desk .principal-right .principal-sub {
  font-size: 1.1rem;
  color: whitesmoke;
  font-weight: bolder;
  padding: 10px;
}

section .ciudad-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .ciudad-description .ciudad-titulo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 20px 10px 20px;
  color: #d31820;
}
section .ciudad-description .ciudad-sub {
  font-size: 1rem;
  padding: 0 5px 10px 5px;
  font-weight: 700;
  text-align: center;
}
section .mobile-container {
  padding: 0 0 0 0;
}
section .mobile-container #carouselExample .carousel-inner {
  display: flex;
  justify-content: center;
}
section .mobile-container #carouselExample .carousel-inner .carousel-item {
  margin-right: 0;
  flex: 0 0 33.3333333333%;
}
section .mobile-container #carouselExample .carousel-inner .carousel-item .card {
  margin: 0 0.5em 0.8em 0.5em;
}
section .mobile-container #carouselExample .carousel-inner .carousel-item .card .img-wrapper {
  max-width: 100%;
  height: 17em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
}
section .mobile-container #carouselExample .carousel-inner .carousel-item .card .img-wrapper img {
  width: 300px;
  height: 100%;
  padding: 10px;
}
section .mobile-container #carouselExample .carousel-inner .carousel-item .card .card-body {
  display: flex;
  justify-content: center;
}
section .mobile-container #carouselExample .carousel-inner .carousel-item .card .card-body a {
  text-decoration: none;
  color: #d31820;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px 0 0 0;
}
section .card-container {
  display: none;
}

.form-page {
  background-color: #F9FCF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-page .img-container {
  display: flex;
  justify-content: center;
}
.form-page .img-container .llama-img {
  width: 40%;
  margin: 20px;
}
.form-page .form-container {
  max-width: 160vh;
  padding: 0px 50px 0 40px;
}
.form-page .form-container .form-check {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-page .form-container .form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
