main{
    overflow-x: hidden;
    h1{
        padding: 10px 0;
        font-weight: bolder;
    }
    p{
        margin: 0 15px;
        font-size: 18px;
        font-weight: bolder;
    }
    .city-container{
        border: 4px solid $principal-color;
        border-radius: 10px;
        margin: 5px 10px;
        padding: 5px;
        @include flex-center(column);
        background-color: beige;
        margin-bottom: 20px;
        div{
            h2{
                color: $principal-color;
                font-weight: bolder;
                padding: 20px 0px
            }
        }
        .city-container2{
            @include flex-center(column);
            .city-left{
                @include flex-center(column);
                .foto-ciudad{
                    width: 100%;
                    padding-bottom: 20px;
                }
                iframe{
                    padding-bottom: 10px;
                }
            }
            .city-right{
                margin: 10px 0;
                @include flex-center(column);
                h3{
                    color: $principal-color;
                    font-weight: bolder;
                }
                p{
                    margin-bottom: 10px;
                }
                .act-buttons{
                    display: flex;
                    flex-direction: column;
                    ul{
                        i{
                            color: orange;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
        
    }

    @include mq-tablet{
        .city-container{
            .city-container2{
                .city-right{
                    margin-top: 5px;
                    margin-bottom: 20px;
                    p{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    @include mq-desktop{
        p{
            padding: 15px 0;
        }
        .city-container{
            .city-container2{
                @include flex-center(row);
                justify-content: space-evenly;
                flex-wrap: nowrap;
                padding: 0px 5px;
                .city-left{
                    padding: 0px 30px;
                    .foto-ciudad{
                        width: 400px;
                        height: 300px;
                    }
                }
                .city-right{
                    h3{
                        align-self: center;
                        padding: 20px 0;
                    }
                    p{
                        padding: 20px 0;
                        max-width: 75%;
                        font-weight: 500;
                        
                    }
                    @include flex-center(column);
                    justify-content: space-around;
                    // .act-buttons{

                    // }
                }
            }
        }
    }
}